<div class="displayTable">
  <div class="displayTableCell">
    <div class="authBlock">
      <h3>Login</h3>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Username" #userName required>
      </div>
      <div class="form-group">
        <input type="password" class="form-control sm" placeholder="Password" #userPassword required>
      </div>

      <div class="form-group">
        <input type="button" class="btn btn-primary" value="Log in" (click)="authService.login(userName.value, userPassword.value)"><span class="orInner">Or </span><button type="button" class="btn btn-success" (click)="authService.googleAuth()">
          <fa-icon [icon]="faGoogle" class="fab fa-google-plus-g"></fa-icon>
          Log in with Google
        </button>
      </div>
      <div class="form-group">

      </div>

      <div class="form-group">

      </div>
      <div class="forgotPassword">
        <a routerLink="/forgot-password">Forgot Password?</a>
      </div>
    </div>
    <div class="redirectToLogin">
      <span>Don't have an account? </span><a class="redirect" routerLink="/register">Register</a>
    </div>
  </div>
</div>
